body{
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  height: 100vh;
}
.board-row{
  display: flex;
  
}

.square{
  width: 100px;
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  background-color: aqua;
  outline: none;
  transition: background-color 0.3s ease;
}


